html {
  --colContenido: black;
  --colContenidoFondo: white;
  --colPrimario: black;
  --colPrimarioFondo: #C5AAF5;
  --colActive: #A3CBF1;
  --colCampoSinFoco: gray;
  --colCampoFoco: #01579B;
  --colError: #b00020;
  --colCampoFondo: #F5F5F5;
  --colCampoFondoHover: #EEEEEE;
  --colCampoFondoFocus: #E0E0E0;
  --colCheckOn: #0277BD;
  --colCheckFondo: #BDBDBD;
  /* Los 2 primeros fonts son para
   * apple y "Roboto" es para
   * Android. */
  --fontFamily:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: var(--colContenido);
  font-family: var(--fontFamily);
  background-color:
    var(--colContenidoFondo);
}
